@import 'https://fonts.googleapis.com/css?family=Bungee+Shade|Sigmar+One|Suez+One';

.header {
  background-color: #1F8A70;
  color: #e2efa7;
  padding: 15px 0 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
  height: 40px;
  position: relative;
  top: 5px;
  display: none;
}

.name {
  user-select: none;
  cursor: pointer;
  font-size: 4.0rem;
  display: inline-block;
  margin: 0;
  font-family: 'Bungee Shade', cursive;
}

.name:hover {
  color: #BEDB39;
}

.left, .right {
  display: inline-block;
}

.right {
  align-item: flex-end;
}
